* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(img/Team_Wallpaper_season_5_PuckChamp_1.webp);
    background-repeat: no-repeat;
    background-size: cover auto;
}